h1 {
    text-align: center;
}

/* body {
  background-color: #222;
  font-family: arial, sans-serif;
  font-size: 20px;  
  padding: 10px;
} */
    
.evolution-chart {
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 400%;
  transform: translate(-50%, -50%);
}

.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
/*   stroke: tomato; */
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}
