.evolution-chart {
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 400%;
  transform: translate(-50%, -50%);
}

.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
/*   stroke: tomato; */
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.line2 {
  fill: none;
  stroke: blue;
  stroke-width: 3px;
}

.line3 {
  fill: none;
  stroke: green;
  stroke-width: 3px;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #D81F26;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
  z-index: 1;
}

/* Change color of dropdown links on hover */

.dropdown-content p:hover {background-color: #8B0000;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #8B0000;
}