.evolution-chart {
  position: absolute;
  left: 50%;
  top: 250%;
  transform: translate(-50%, -50%);
}

.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
/*   stroke: tomato; */
  shape-rendering: crispEdges;
}

.x-axis text {
  fill: #fff;
}

.y-axis text {
  fill: #fff;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.boxSlider {
  position: relative;
  left: 80%;
}

.boxSlider > div > span {
  color: #e26666;
}

.boxSlider > p {
  position: relative;
  left: 6%;
}