.pieChart {
    display: block;
    margin: auto;
}

.subtitle {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #647c90;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descriptionPieChart > p{
  position: relative;
  text-align: center;
  left: 25%;
}

.descriptionWordCloud > p{
    position: relative;
  text-align: center;
  left: 37%;
  }