/* .myYaxis > g > text {
  fill: #fff;
}

.myYaxis > g > line {
    stroke: #fff;
} */

.barChart>svg>g>g>g>text {
  fill: #fff;
}

.barChart>svg>g>g>g>line {
  stroke: #fff;
}

.basic-multi-select {
  width: 15%;
  left: 80%;
}

.barChart {
  position: absolute;
  left: 50%;
  top: 255%;
  transform: translate(-50%, -50%);
}

.css-tj5bde-Svg {
  color: #e26666;
}